/* Style the element with the id "Name" */
  /* Q2-1 */
  .myHeader{
    font-size:70px;
    background-color: brown;
    color: tan;
    text-align: center;
  }
  /* Q2-2 */
  .subHeader{
    font-size: 50px;
    width:60%;
    margin: auto;
    text-align: center;
  }
  /*Q2-3 */
  .myImage{
      display:flex;
      flex-direction: column;
  } 
  

  /*Q2-4 */
  .myImage{
      display:block;
      margin-left:auto;
      margin-right: auto;
      width:50%;
      height:auto;
    
  }

  /*Q2-5 */
  .myDescription{
    display:flex;
    flex-direction: column;

}
    .myDescription{
        margin: 400px;
        border: solid;
        height: 1000px;
        
        border-color: rgba(0, 0, 255, 0.479);
        background:blueviolet;
        animation: mymove 5s infinite;
    }
    @keyframes mymove {
        from {background-color: blueviolet;}
        to {background-color: rgba(0, 0, 255, 0.479);}
      }
    .first{
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 40px;
        /*text-align: center;*/
        flex-direction: row;
        display: flex;
        justify-content: center;
    }
    
    .description1{
        font-size: 20px;
        font-style: italic;
        flex-direction: row;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .second{
        text-transform: uppercase;
        text-decoration: underline;
        font-size:40px;
        /*text-align: center;*/
        display:flex;
        justify-content: center;
    }
    .description2{
        font-size: 20px;
        font-style:italic;
        display:flex;
        justify-content: center;
    }
    .third{
        text-transform: uppercase;
        text-decoration: underline;
        font-size:40px;
        /*text-align: center;*/
        display:flex;
        justify-content: center;
    }
    .description3{
        font-size: 20px;
        font-style:italic;
        display:flex;
        justify-content: center;
    }




 